<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/config.xsd">
    <default>
        <payment>
            <openpos_pay_card>
                <active>1</active>
                <model>Zero1\OpenPosDefaultPayments\Model\PaymentMethod\Card</model>
                <order_status>processing</order_status>
                <title>Offline card payment</title>
            </openpos_pay_card>
            <openpos_pay_cash>
                <active>1</active>
                <model>Zero1\OpenPosDefaultPayments\Model\PaymentMethod\Cash</model>
                <order_status>processing</order_status>
                <title>Offline cash payment</title>
            </openpos_pay_cash>
        </payment>
    </default>
</config>
